@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-FD-WOL.eot');
    src: url('../fonts/Vazir-FD-WOL.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vazir-FD-WOL.woff') format('woff'),
        url('../fonts/Vazir-FD-WOL.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir-B;
    src: url('../fonts/Vazir-Bold-FD-WOL.eot');
    src: url('../fonts/Vazir-Bold-FD-WOL.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vazir-Bold-FD-WOL.woff') format('woff'),
        url('../fonts/Vazir-Bold-FD-WOL.ttf') format('truetype');
    font-weight: bold;
}

body {
    font-family: 'Vazir';
    font-weight: 2;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
  }

img {
  border-radius: 15px;
}
  
.lds-ellipsis {
    padding-right: 50%;
    display: inline-block;
    position: relative;
    
    }
    .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #008fd4;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
    }
    @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
    }
    @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
    }
    .lds-ellipsis-Box {
    padding-right: 50%;
    display: inline-block;
    position: relative;
    
    }
    .lds-ellipsis-Box div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #008fd4;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis-Box div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis-Box div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis-Box div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis-Box div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
    }
    @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
    }
    @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
    }